# =========================
# ENVIRONNEMENTS
# =========================
env/
venv/
.venv/

# =========================
# CACHE PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# PYTEST / COVERAGE
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE / EDITORS
# =========================
.idea/
.vscode/

# =========================
# DONNÉES GÉNÉRÉES
# =========================
data/outputs/
data/images/

# =========================
# LOGS / TEMP
# =========================
*.log
*.tmp

# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# DIVERS
# =========================
*.xlsx~